{% extends 'base.html' %}
{% load static %}


{% block content %}
     
  <div class="row gy-6">
    <!-- Congratulations card -->
    <div class="col-xl-8 col-lg-7 align-self-end mt-md-7 mt-lg-4 pt-md-2 pt-lg-0">
      <div class="card">
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="card-body">
              <h4 class="card-title mb-9 ">{{name}}  <span class="fw-bold"></span>🎉</h4>
              <!-- <p class="mb-0"> You have done 72% 😎 more sales today. Check your new raising badge in your profile.</p> -->
            </div>
          </div>
          <div class="col-12 col-md-6 position-relative text-center">
            <!-- <img src="{% static 'assets/img/illustrations/illustration-john-2.png' %}" class="card-img-position bottom-0 w-auto end-0 scaleX-n1-rtl" alt="View Profile"> -->
          </div>
        </div>
      </div>
    </div>
    <!--/ Congratulations card -->
    <!-- Cards with icon profit and loss info -->
   
  
            

{% endblock %}