{% extends 'userBase.html' %}
{% load static %}


{% block content %}
	<!--================Login Box Area =================-->
	<section class="registration_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="registration_box_img">
                        <img class="img-fluid" src="/static/img/register.jpg" alt="">
                        <div class="hover">
                            <h4>Already have an account?</h4>
                            <p>If you already have an account, you can log in here.</p>
                            <a class="primary-btn" href="{% url 'login-page' %}">Log In</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="registration_form_inner">
                        <h3>Create an Account</h3>

                         <!-- Message Box -->
                            {% if messages %}
                            <div class="alert-messages">
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        <form class="row registration_form" action="{% url 'register-page' %}" method="post" id="registrationForm" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="username" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="password" name="referral_code" placeholder="refferal code" onfocus="this.placeholder = ''" onblur="this.placeholder = 'refferal code'" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" class="primary-btn">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
	<!--================End Login Box Area =================-->

	{% endblock %}

	