{% extends 'userBase.html' %}


{% block links %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">




{% endblock %}






{% block css %}

<style>
    .main-nav-list.active a {
        /* font-weight: bold; */
        color: #FFC107;
        /* Bootstrap primary color */
        text-decoration: underline;
    }
</style>


{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <form action="{% url 'shopping-page' %}" method="get" id="filtersForm">
                <div class="sidebar-categories">
                    <div class="head">Browse Categories</div>
                    <ul class="main-categories">
                        {% for c in category %}
                        <li
                            class="main-nav-list {% if request.GET.category == c.id|stringformat:'s' %}active{% endif %}">
                            <a href="{% url 'shopping-page' %}?category={{ c.id }}" aria-expanded="false"
                                aria-controls="fruitsVegetable">
                                <span class="lnr lnr-arrow-right"></span>{{ c.name }}
                                <span class="number"></span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="sidebar-categories">
                    <!-- <div class="top-filter-head">Product Filters</div> -->
                    <div class="common-filter">
                        <div class="head">Brands</div>
                        <ul class="main-categories">
                            {% for b in brand %}
                            <li
                                class="main-nav-list {% if request.GET.brand == b.id|stringformat:'s' %}active{% endif %}">
                                <a
                                    href="?brand={{ b.id }}{% if request.GET.color %}&color={{ request.GET.color }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">
                                    {{ b.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="common-filter">
                        <div class="head">Color</div>
                        <ul class="main-categories">
                            {% for c in color %}
                            <li
                                class="main-nav-list {% if request.GET.color == c.id|stringformat:'s' %}active{% endif %}">
                                <a
                                    href="?color={{ c.id }}{% if request.GET.brand %}&brand={{ request.GET.brand }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}">
                                    {{ c.name }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="common-filter">
                        <div class="head">Price Range</div>
                        <form id="priceFilterForm" method="GET" action="{% url 'shopping-page' %}">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="minPrice">Min Price:</label>
                                        <input type="number" id="minPrice" name="min_price" class="form-control"
                                            placeholder="0" min="0" value="{{ request.GET.min_price|default:'' }}">
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <div class="form-group">
                                        <label for="maxPrice">Max Price:</label>
                                        <input type="number" id="maxPrice" name="max_price" class="form-control"
                                            placeholder="1000" min="0" value="{{ request.GET.max_price|default:'' }}">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Apply</button>
                        </form>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting">

                    {% if request.GET.brand or request.GET.color or request.GET.category or request.GET.min_price or request.GET.max_price %}
                        <button type="button" class="btn btn-primary" onclick="clearFilters();">Refresh</button>
                    {% endif %}

                </div>
                <div class="sorting mr-auto">
                    <form method="GET" action="{% url 'shopping-page' %}" class="form-inline mt-2">
                        <div class="form-group mb-2">
                            <label for="search" class="sr-only">Search</label>
                            <input type="text" class="form-control" name="q" id="search" placeholder="Search products..." value="{{ request.GET.q }}">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2 ml-2">Search</button>
                    </form>
                </div>
                
                
                <div class="sorting">
                    <a href="?sort=name_asc" class="sort-btn">
                        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i> Sort A-Z
                    </a>
                    <a href="?sort=name_desc" class="sort-btn">
                        <i class="fa fa-sort-alpha-desc" aria-hidden="true"></i> Sort Z-A
                    </a>
                </div>
                
            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">
                {% if no_items_message %}
                <div class="alert alert-info mt-5" role="alert">
                    {{ no_items_message }}
                </div>
                {% endif %}
                <div class="row">

                    <!-- single product -->
                    {% for p in product %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single-product">
                            <img class="img-fluid" src="{{ p.image.url }}" alt="">
                            <div class="product-details">
                                <h6>{{ p.name }}</h6>
                                <div class="price">
                                    


                                {% if p.get_discounted_price %}
                        <h6>${{ p.get_discounted_price|floatformat:2 }}</h6>
                        <h6 class="l-through">${{ p.price|floatformat:2 }}</h6>  <!-- Strikethrough original price -->
                    {% else %}
                        <h6>${{ p.price|floatformat:2 }}</h6> <!-- Only actual price if no offer -->
                    {% endif %}
                                </div>
                                <div class="prd-bottom">
                                    
                                    {% if p.id in user_wishlist %}
                                    <a href="{% url 'add-wishList' p.id %}" class="social-info">
                                        <span class="fas fa-heart" style="color: rgb(245, 222, 11);"></span>
                                        <p class="hover-text">In Wishlist</p>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'add-wishList' p.id %}" class="social-info">
                                        <span class="lnr lnr-heart" style="color: rgb(240, 240, 240);"></span>
                                        <p class="hover-text">Wishlist</p>
                                    </a>
                                    {% endif %}
                                    <a href="{% url 'single-page' p.id %}" class="social-info">
                                        <span class="lnr lnr-move"></span>
                                        <p class="hover-text">view more</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
            <!-- End Best Seller -->
        </div>
    </div>
</div>


{% endblock %}


{% block js %}

<script>
    function clearFilters() {
        // Redirect to the base URL without any query parameters
        window.location.href = window.location.pathname;
    }

</script>

{% endblock %}