{% extends 'userBase.html' %}
{% load static %}


{% block links %}

<link rel="stylesheet" href="{% static 'newStyle/assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'newStyle/assets/css/plugins/owl-carousel/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'newStyle/assets/css/plugins/magnific-popup/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'newStyle/assets/css/plugins/jquery.countdown.css' %}">
<!-- Main CSS File -->
<link rel="stylesheet" href="{% static 'newStyle/assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'newStyle/assets/css/skins/skin-demo-10.css' %}">
<link rel="stylesheet" href="{% static 'newStyle/assets/css/demos/demo-10.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">




{% endblock %}


{% block css %}

<style>
	.product-main-image {
		position: relative;
		overflow: hidden;
	}

	#product-zoom {
		transition: transform 0.9s ease;
	}

	.product-main-image:hover #product-zoom {
		transform: scale(1.2);
	}
</style>



{% endblock %}


{% block content %}






<div class="page-content mt-4">
	<div class="container">
		<div class="product-details-top">
			<div class="row">
				<div class="col-md-6">
					<div class="product-gallery product-gallery-vertical">
						
						<div class="row">
							<figure class="product-main-image">
								<img id="product-zoom" src="{{ static.image.url }}" data-zoom-image=""
									alt="product image">
							</figure>
							<!-- End .product-main-image -->

							<div id="product-zoom-gallery" class="product-image-gallery">
								{% for i in images %}
								<a class="product-gallery-item" href="#" data-image="{{ i.image.url }}"
									data-zoom-image="">
									<img src="{{ i.image.url }}" alt="product side">
								</a>
								{% endfor %}
							</div>
						</div>

					</div><!-- End .product-gallery -->
				</div><!-- End .col-md-6 -->

				<div class="col-md-6">
					<div class="product-details">
						<h1 class="product-title"> {{ variant.description }}</h1><!-- End .product-title -->

						<div class="ratings-container">
							<div class="ratings">
								<div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
							</div><!-- End .ratings -->
							<a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
						</div><!-- End .rating-container -->

						<div class="product-price mb-3">
							<!-- If there is an active offer, show the original price as strikethrough and discounted price -->
							{% if active_offer %}
							<span class="old-price text-muted"><s>${{ variant.price }}</s></span>
							<span class="discounted-price text-danger font-weight-bold">${{ discounted_price }}</span>
							{% else %}
							<span class="current-price font-weight-bold">${{ variant.price }}</span>
							{% endif %}
						</div>

						{% if active_offer %}
						<div class="special-offer p-3 border rounded mb-4">
							<p class="offer-label text-success font-weight-bold">Special Offer:</p>
							<p class="offer-details">{{ active_offer.discount_percentage }}% off!</p>
							<p class="offer-validity text-muted">Offer valid from {{ active_offer.start_date }} to {{active_offer.end_date }}</p>
						</div><!-- End .special-offer -->
						{% else %}
						<p class="no-offer text-muted">No active offers at the moment.</p>
						{% endif %}

						<div class="details-filter-row details-row-size">
							<label>Color:</label>

							<div class="product-nav product-nav-thumbs">
								{% for i in variant.color %}
								{%if i.status %}
								<a href="{% url 'single-view' i.id %}" class="variant-image"
									data-variant-id="{{ i.id }}">
									<img src="{{ i.image.url }}" alt="Product Description">
								</a>
								{% endif %}
								{% endfor %}
							</div>
						</div>
						
						{% if not all_out_of_stock %}
						<div class="details-filter-row details-row-size">
							<label for="size">Size:</label>
							<div class="select-custom">
								<select name="size" id="size" class="form-control" onchange="updateQuantity()">
									{% for s in variant.sizes %}
									{% if s.status and s.quantity > 0 %}
									<option value="{{ s.size.id }}" data-quantity="{{ s.quantity }}">{{ s.size.size }} -
										{{ s.quantity }} available</option>
									{% else %}
									<option value="" disabled>{{ s.size.size }} - Out of stock</option>
									{% endif %}
									{% endfor %}
								</select>
							</div>
							<a href="#" class="size-guide">
								<i class="icon-th-list"></i> Quantity: <span id="quantity-display"></span>
							</a>
						</div>
						{% else %}
						<!-- Optionally, you can display a message indicating that the product is not available in any size -->
						<p>This product is currently out of stock in all sizes.</p>
						{% endif %}


						<div class="product-details-action">
							<!-- <a href="#" class="btn-product btn-cart"><span>add to cart</span></a> -->
							{% if all_out_of_stock %}
							<button class="btn-product btn-cart" disabled>
								<span>Not Available</span>
							</button>
							{% else %}
							{% if user.is_authenticated %}
							<form action="{% url 'add-to-cart' variant.variant_id %}" method="POST"
								style="display: inline;">
								{% csrf_token %}
								<input type="hidden" name="size" id="hidden-size">
								<input type="hidden" name="quantity" id="hidden-quantity">
								<button type="submit" class="btn-product btn-cart">
									<span>Add to Cart</span>
								</button>
							</form>
							{% else %}
							<a href="{% url 'login-page' %}" class="btn-product btn-cart">
								<span>Login</span>
							</a>
							{% endif %}
							{% endif %}

							<div class="details-action-wrapper">
								{% if user.is_authenticated %}
								{% if obj.id in user_wishlist %}
								<a href="{% url 'add-wishList' variant_id %}" class="social-info">
									<span class="fas fa-heart"
										style="color: rgb(245, 222, 11); display: inline-block;"></span>
									<p class="hover-text" style="display: inline-block; margin: 0;">In Wishlist</p>
								</a>
								{% else %}
								<a href="{% url 'add-wishList' variant_id %}" class="btn-product btn-wishlist"
									title="Add to Wishlist">
									<span>Add to Wishlist</span>
								</a>
								{% endif %}
								{% else %}
								<a href="{% url 'login-page' %}" class="btn-product btn-wishlist"
									title="Login to add to Wishlist">
									<span>Login to Wishlist</span>
								</a>
								{% endif %}

							</div><!-- End .details-action-wrapper -->
						</div><!-- End .product-details-action -->
						<div class="product-details-footer">
							<div class="product-cat">
								<span>Category:</span>
								<span href="#">{{variant.category}}</span>
							</div>

						</div>
						<div class="product-details-footer">
							<div class="product-cat">
								<span>Brand:</span>
								<span href="#">{{variant.brand}}</span>
							</div>

						</div>
						<div class="product-details-footer">
							<div class="product-cat">
								<span>Gender:</span>
								<span href="#">{{variant.gender}}</span>
							</div>

						</div>
					</div><!-- End .product-details -->
				</div><!-- End .col-md-6 -->
			</div><!-- End .row -->
		</div><!-- End .product-details-top -->

		
	</div>
</div>


{% endblock %}





{% block js %}


<!-- Plugins JS File -->
<script src="newStyle/assets/js/jquery.min.js"></script>
<script src="newStyle/assets/js/bootstrap.bundle.min.js"></script>
<script src="newStyle/assets/js/jquery.hoverIntent.min.js"></script>
<script src="newStyle/assets/js/jquery.waypoints.min.js"></script>
<script src="newStyle/assets/js/superfish.min.js"></script>
<script src="newStyle/assets/js/owl.carousel.min.js"></script>
<script src="newStyle/assets/js/bootstrap-input-spinner.js"></script>
<script src="newStyle/assets/js/jquery.elevateZoom.min.js"></script>
<script src="newStyle/assets/js/bootstrap-input-spinner.js"></script>
<script src="newStyle/assets/js/jquery.magnific-popup.min.js"></script>
<!-- Main JS File -->
<script src="newStyle/assets/js/main.js"></script>


<script>
	$(document).ready(function () {
		$('.product-gallery-item').on('click', function (e) {
			e.preventDefault(); // Prevent the default anchor behavior

			// Get the image and zoom image from the clicked thumbnail
			var newImage = $(this).data('image');
			var newZoomImage = $(this).data('zoom-image');

			// Change the src attribute of the main product image
			$('#product-zoom').attr('src', newImage);
			$('#product-zoom').attr('data-zoom-image', newZoomImage);
		});
	});

	function updateQuantity() {
		var select = document.getElementById("size");
		var quantityDisplay = document.getElementById("quantity-display");
		var selectedOption = select.options[select.selectedIndex];
		var selectedSize = select.value;
		var quantity = selectedOption.getAttribute("data-quantity");
		quantityDisplay.innerText = quantity;

		if (quantityDisplay) {
			quantityDisplay.innerText = quantity;
		}

		document.getElementById("hidden-size").value = selectedSize;
		document.getElementById("hidden-quantity").value = quantity;
	}


	// Initialize the quantity display on page load
	window.onload = function () {
		updateQuantity();
	}

	document.addEventListener('DOMContentLoaded', function () {
		const sizeSelect = document.getElementById('size');
		const qtyInput = document.getElementById('qty');
		const hiddenSizeInput = document.getElementById('hidden-size');
		const hiddenQtyInput = document.getElementById('hidden-quantity');

		// Set the initial hidden inputs
		hiddenSizeInput.value = sizeSelect.value;
		hiddenQtyInput.value = qtyInput.value;

		// Update hidden size input when size changes
		sizeSelect.addEventListener('change', function () {
			hiddenSizeInput.value = this.value;
		});

		// Update hidden quantity input when quantity changes
		qtyInput.addEventListener('input', function () {
			hiddenQtyInput.value = this.value;
		});
	});

</script>


{% endblock %}