{% extends 'profile/detailsProfile.html' %}




{% block profile %}
<div class="col-lg-8">
    <div class="container text-center">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Success!</h4>
            <p>Your password has been successfully changed.</p>
            <hr>
            <p class="mb-0">You can now <a href="{% url 'index-page' %}" class="btn btn-primary">Return to Home</a> or
                <a href="{% url 'profile' %}" class="btn btn-secondary">Go to Profile</a>.</p>
        </div>
    </div>
</div>


{% endblock %}