{% extends 'userBase.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- molla/wishlist.html  22 Nov 2019 09:55:05 GMT -->



{% block links %}
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'newStyle/assets/images/icons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'newStyle/assets/images/icons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'newStyle/assets/images/icons/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'newStyle/assets/images/icons/site.html' %}">
<link rel="mask-icon" href="{% static 'newStyle/assets/images/icons/safari-pinned-tab.svg' %}" color="#666666">
<link rel="shortcut icon" href="{% static 'newStyle/assets/images/icons/favicon.ico' %}">

<!-- Plugins CSS File -->
<link rel="stylesheet" href="{% static 'newStyle/assets/css/bootstrap.min.css' %}">
<!-- Main CSS File -->
<link rel="stylesheet" href="{% static 'newStyle/assets/css/style.css' %}">

{% endblock %}

{% block content %}

<h1>success conform </h1>



{% endblock %}


{%block js %}


<!-- Plugins JS File -->
<!-- <script src="{% static 'newStyle/assets/js/jquery.min.js' %}"></script> -->
<script src="{% static 'newStyle/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'newStyle/assets/js/jquery.hoverIntent.min.js' %}"></script>
<script src="{% static 'newStyle/assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/superfish.min.js' %}"></script>
<script src="{% static 'newStyle/assets/js/owl.carousel.min.js' %}"></script>
<!-- Main JS File -->
<script src="{% static 'newStyle/assets/js/main.js' %}"></script>

{% endblock %}