{% extends 'base.html' %}
{% load static %}


{% block css %}

<style>
  .status-badge:hover {
    cursor: pointer; /* Changes the cursor to pointer on hover */
}
</style>



{% endblock %}

{% block content %}


<div class="container-xxl flex-grow-1 container-p-y">



  <div class="row g-6 mb-6">
    <div class="col-sm-6 col-xl-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div class="me-1">
              <p class="text-heading mb-1">Tottel Offer</p>
              <div class="d-flex align-items-center">
                <h4 class="mb-1 me-2">{{count}}</h4>
              </div>
            </div>
            <div class="avatar">
              <div class="avatar-initial bg-label-primary rounded">
                <div class="ri-group-line ri-26px"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Users List Table -->
  <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h5 class="mb-0">Brand Offers</h5>
            <button class="btn btn-secondary add-new btn-warning waves-effect waves-light">
                <a href="{% url 'offer-add' %}" style="text-decoration: none; color: inherit;">
                    <span><i class="ri-add-line ri-16px me-0 me-sm-1_5"></i><span class="d-none d-sm-inline-block">Add Offer</span></span>
                </a>
            </button>
        </div>
      <div class="d-flex justify-content-between align-items-center row pt-4 gap-4 gap-md-0">
        <div class="col-md-4 product_status"></div>
        <div class="col-md-4 product_category"></div>
        <div class="col-md-4 product_stock"></div>
      </div>
    </div>
    <div class="card-datatable table-responsive">
      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
        <div class="card-header d-flex border-top rounded-0 flex-wrap py-3 pb-5 pb-md-4">
          <div class="me-5 ms-n2">
            <div id="DataTables_Table_0_filter" class="dataTables_filter"><label><input type="search"
                  class="form-control form-control-sm" placeholder="Search" aria-controls="DataTables_Table_0"></label>
            </div>
          </div>
          <div class="d-flex justify-content-start justify-content-md-end align-items-baseline">
            <div
              class="dt-action-buttons d-flex align-items-start align-items-md-center justify-content-sm-center gap-4 pt-0">


            </div>
          </div>
        </div>
        <table class="datatables-products table dataTable no-footer dtr-column" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
          <thead>
              <tr>
                  <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 17.625px; display: none;" aria-label=""></th>
                  <th class="sorting_disabled dt-checkboxes-cell dt-checkboxes-select-all" rowspan="1" colspan="1" style="width: 17.625px;" data-col="1" aria-label="">No</th>
                  <th class="sorting sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 114.025px;" aria-label="product: activate to sort column descending" aria-sort="ascending">Brand</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 124.062px;" aria-label="category: activate to sort column ascending">Discount Percentage (%)</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 59.975px;" aria-label="qty: activate to sort column ascending">Start Date</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 59.975px;" aria-label="qty: activate to sort column ascending">End Date</th>
                  <!-- <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94.175px;" aria-label="status: activate to sort column ascending">Status</th> -->
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 94.175px;" aria-label="status: activate to sort column ascending">Action</th>
              </tr>
          </thead>
          <tbody>
              {% for offer in offers %}
              <tr class="odd">
                  <!-- <td valign="top" class="dtr-control sorting_1" style="display: none;"></td> -->
                  <td valign="top" class="dt-checkboxes-cell">{{ forloop.counter }}</td>
                  <td valign="top">{{ offer.brand.name  }}</td> 
                  <td valign="top">{{  offer.discount_percentage  }}</td>
                  <td valign="top">{{  offer.start_date   }}</td>
                  <td valign="top">{{  offer.end_date    }}</td>
                  <!-- <td valign="top"> <td>{{ offer.is_active|yesno:"Active,Inactive" }}</td></td>  -->
                  <td>
                    <!-- Edit Button -->
                    <a href="{% url 'offer-edit' offer.id %}" class="btn btn-sm btn-primary">Edit</a>
                    
                    <!-- Delete Button -->
                    <form action="{% url 'offer-delete' offer.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this coupon?')">Delete</button>
                    </form>
                </td>
                 
                
              </tr>
              {% endfor %}
          </tbody>
      </table>
     
      </div>
    </div>
  </div>






  {% endblock %}



  {% block js %}
  



  {% endblock %}